    <footer class="bg-body-tertiary text-center mt-5 " style="background-color: rgba(0, 0, 0, 0.03);">
        <!-- Grid container -->
        <div class="container pt-4 pb-4">
          <!-- Section: Social media -->
          <div class="row">
            <div class="col-md-4  text-start text-md-center mx-auto text-sm-start">
            <!-- Github -->
            <a
              data-mdb-ripple-init
              class="btn btn-sm text-white btn-floating m-1"
              style="background-color: #333333;"
              href="https://github.com/Prakhar436"
              role="button"
              ><i class="fab fa-github"></i
            ></a> <span class=" me-5" style="font-size: medium;">  Prakhar436  </span>
            </div>
            <div class="col-md-4  text-start text-md-center mx-auto text-sm-start">
                <!-- Linkedin -->
                <a
                data-mdb-ripple-init
                class="btn btn-sm text-white btn-floating m-1"
                style="background-color: #0082ca;"
                href="https://www.linkedin.com/in/prakhar-pandey-4257a5250/"
                role="button"
                ><i class="fab fa-linkedin-in"></i
                    ></a> <span class="me-5" style="font-size: medium;">  Prakhar Pandey  </span>
            </div>
            <div class="col-md-4  text-start text-md-center mx-auto text-sm-start">
                <!-- Google -->
                <a
                    data-mdb-ripple-init
                    class="btn btn-sm text-white btn-floating m-1"
                    style="background-color: #dd4b39;"
                    href="mailto:prakharpandey436@gmail.com"
                    role="button"
                    ><i class="fab fa-google"></i
                ></a> <span class=" me-5" style="font-size: medium;">  prakharpandey436@gmail.com  </span>
            </div>
          </div>
          
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.06);">
          © 2024 Copyright:
          <a class="text-body" href="#"><b>Jovian</b></a>
        </div>
        <!-- Copyright -->
      </footer>
