<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" class="bi" width="30"
                    height="24"></img>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024, Jovian, Inc</span>
        </div>
        <a href="mailto:prakharpandey436@gmail.com?subject=Question%20about%20Open%20Positions&body=%3CYour%20query%20here%3E%0A"
            class="btn btn-primary btn-md mt-4">Contact Us</a>
    </footer>
</div>