<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Careers Website</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  {% include 'navbar.html'%}
  <img class="banner img-fluid "
    src="https://images.unsplash.com/photo-1504805572947-34fad45aed93?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    alt="">
  <div class="container">
    <h1 class="text-center m-4">Jovian Careers</h1>

    <div class="container">
      <div class="row m-4">
        <div class="col-md-6 me-4">
          <p class="lead mt-4">Ready to find your perfect career fit? At Jovian Careers, we get that the job hunt can be tough. That's why we're here to help, every step of the way.
            <br>
            With Jovian Careers, you'll find a diverse range of opportunities in various industries. Whether you're fresh out of school or a seasoned pro, we've got options for you.
            <br>
            Our platform is simple and easy to use. No more endless scrolling – just straightforward job hunting that gets you results.
            <br>
            Join Jovian Careers today and kickstart your career journey. Your dream job is waiting – let's find it together.
            <br>
            </p>
        </div>
        <div class="d-none d-md-block col-md-4 ms-5">
          <img
            src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8dGVhbXxlbnwwfHwwfHx8MA%3D%3D"
            alt="">
        </div>

      </div>

      <h2 class="text-center">Open Positions</h2>
      <div>
        {% for job in jobs %}
        {% include 'jobItem.html' %}
        {%endfor%}
      </div>
      <hr>
    </div>
  </div>
  {%include 'footer.html' %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0fcbed88d6.js" crossorigin="anonymous"></script>

</body>

</html>